@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    min-width: 100%;
    height: 100%;
}
.carousel-item.img{
    width: 100%;
}
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.for-p{
    text-align: center ;
    margin-top: 15px;
    font-weight: 700;
    size: 20px;
}








.image-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 650px;
    margin: auto;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    filter: blur(5px);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

form {
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1.5px solid black;
    
    box-sizing: border-box;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(215, 213, 213, 0.5);
    
}
.for-form{
    justify-content: center;
}
    
